<div class="start-screen">
    <div class="screen-content">
        <div class="decorations-left">
            <img class="deco-card-left" src="./../../assets/img/cards/ace_1.png" alt="">
            <img class="deco-card-left" src="./../../assets/img/cards/ace_10.png" alt="">
        </div>
        <div class="message-section">
            <div class="message-border">
                <div class="message-content">
                    <h1 class="message">Ring</h1>
                    <h1 class="message">of</h1>
                    <h1 class="message">Fire</h1>
                    <div class="start-btn" (click)="newGame()">
                        <h2 class="start">Start Game</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="decorations-right">
            <img class="deco-card-right" src="./../../assets/img/cards/ace_11.png" alt="">
            <img class="deco-card-right" src="./../../assets/img/cards/ace_13.png" alt="">
        </div>
    </div>
</div>
