body{
    margin: 0;
}

@mixin dFlex($d: flex, $jc: center, $ai: center, $fd: column) {
    display: $d;
    justify-content: $jc;
    align-items: $ai;
    flex-direction: $fd;
}


@font-face {
  font-display: swap; 
  font-family: 'Merienda';
  font-style: normal;
  font-weight: normal;
  src: url('./assets/fonts/Merienda/Merienda-VariableFont_wght.ttf') format('woff2'); 
}

  .fontMerienda{
    font-family: "Merienda";
  }
